<h1>Héroe <small>Nombre del Héroe</small></h1>
<hr>

<div class="row text-right">
    <div class="col">
        <button class="btn btn-danger" routerLink="/heroes">
            <i  class="fa fa-arrow-left"></i>
            Regresar
        </button>
    </div>
</div>

<!--Formulario-->
<div class="row animated fadeIn faster">
    <div class="col">
        <!--Inicia form-->
        <form (ngSubmit)="guardar( f )" #f="ngForm">
            <div class="form-group">
                <label>Firebase Id</label>
                <input type="text" class="form-control" disabled="disabled" placeholder="Firebase Id" name="id" [(ngModel)]="heroe.id">
                <small class="form-text text-muted">Este campo es autogenerado</small>
            </div>

            <div class="form-group">
                <label>Nombre</label>
                <input type="text" class="form-control" placeholder="Nombre" required name="nombre" [(ngModel)]="heroe.nombre">
            </div>
            <div class="form-group">
                <label>Poder</label>
                <input type="text" class="form-control" placeholder="Poder del héroe" name="poder" [(ngModel)]="heroe.poder">

            </div>
            <div class="form-group">
                <label>Estado</label>
                <br>
                <button *ngIf="heroe.vivo" (click)="heroe.vivo= false" class="btn btn-outline-success w-50" type="button">
                    <i class="fa fa-smile-wink"></i>   
                    Vivo                 

                </button>
                <button *ngIf="!heroe.vivo" (click)="heroe.vivo= true" class="btn btn-outline-danger w-50" type="button">
                    <i class="fa fa-dizzy"></i>   
                    Muerto                 

                </button>

            </div>
            <hr>
            <div class="form-group text-center">
                <button type="submit" class="btn btn-primary w-25">
                    <i class="fa fa-save">Guardar</i>

                </button>

            </div>


        </form>
    </div>

</div>